@import "../../node_modules/bootstrap/less/variables";
@import "../../node_modules/bootstrap/less/mixins";
@import "../../node_modules/bootstrap/less/mixins/clearfix";
@import "../../node_modules/bootstrap/less/normalize";
@import "../../node_modules/bootstrap/less/scaffolding";
@import "../../node_modules/bootstrap/less/grid";
@import "../../node_modules/bootstrap/less/buttons";
@import "../../node_modules/bootstrap/less/forms";

//  VARIABLE OVERRIDES

@grid-gutter-width: 100px;

// GLOBAL STYLES

body {
  font-family: 'Lora', serif;
  font-size: 16px;
}

a{
  color: #333;
  &:hover{
    color: #333;
  }
}

// UTILITIES

.sans-serif {
  font-family: 'Karla', sans-serif;
}

.clearfix {
  .clearfix()
}

.hidden {
  visibility: hidden;
}

.full-height{
  height: 100vh;
}

.half-height{
  height: 50vh;
}

.img-float {
  max-width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.image-label {
  color: #8D8D8D;
  font-weight: 700;
  .sans-serif();
  position: relative;
  text-align: left;
  text-transform: uppercase;
  background: #F2F2F2;
  top: 14px;
  padding: 8px;
}

.text-center{
  text-align: center;
}

.link-underline{
  text-decoration: underline;
}

// COMPONENTS

.no-padding {
  padding: 0;
}

.about-page{
  background: #CCC;
}

.about-image-container{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

@media (min-width: @screen-md) {
  .about-image-container{
    height: 100%;
  }
}

.about-image-background {
  background: url('/images/about.jpg');
  background-size: cover;
  background-position: top center;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

@media (min-width: @screen-md) {
  .about-image-background{
    background-position: top left;
    width: 58.33333333%;
    position: fixed;
  }
}

.about-content-bg{
  background: #FFF;
  min-height: 100vh;
}

.about-content{
  margin-top: 50px;
}

.about-content .content-section-title{
  color: #333;
}

.accordion-content {
  .half-height();
}

@media (min-width: @screen-md) {
  .accordion-content {
    .full-height();
  }
}

.accordion-title, {
  color: #FFF;
  position: absolute;
  bottom: 50px;
  z-index: 2000;
  line-height: 52px;
  font-weight: bold;
  .sans-serif();
  .accordion-title-header {
    font-size: 64px;
  }
  .accordion-title-subheader {
    font-size: 32px;
    font-style: italic;
  }
}

.accordion-items, .accordion-item {
  .half-height();
}

@media (min-width: @screen-md) {
  .accordion-items, .accordion-item {
    .full-height();
  }
}

.accordion-items {
  position:absolute;
  right:0;
  top: 0;
}

.accordion-item {
  width: 50px;
  position: absolute;
}

.accordion-links{
  margin-top: 50px;
  line-height: 32px;
  a {
    display: block;
    color: #333;
    font-size: 32px;
    .sans-serif();
    margin-bottom: 32px;
  }
}

.navigation{
  padding-top: 50px;
  padding-bottom: 30px;
  a {
    color: #b6b6b6;
    font-size: 16px;
    .sans-serif();
    margin-right: 50px;
    &:last-child{
      margin-right: 0px;
    }
    &:hover, &.active {
      text-decoration: underline;
    }
    &.active {
      color: #333;
    }
  }
}

@media (min-width: @screen-md) {
  .navigation{
    padding-bottom: 0;
  }
}

.about-page .navigation {
  padding-bottom: 0;
}

.home-page .navigation {
  padding-bottom: 0;
}

.content-author{
  display: none;
  margin-top: 50px;
  margin-bottom: 50px;
  a {
    color: #b6b6b6;
    .sans-serif();
    &:hover {
      text-decoration: none;
    }
  }
}

@media (min-width: @screen-md) {
  .content-author{
    display: block;
  }
}

.content-header-title{
  line-height: 75px;
  font-size: 64px;
  font-weight: bold;
  .sans-serif();
}

.content-header-subtitle{
  line-height: 42px;
  font-size: 36px;
  font-style: italic;
  .sans-serif();
  margin-bottom: 50px;
}

#page-mobile{
  .content-header-title, .content-header-subtitle, .content-section-title{
    color: #28666e;
  }
}

#page-tasks{
  .content-header-title, .content-header-subtitle, .content-section-title{
    color: #64b6ac;
  }
}

#page-basketball{
  .content-header-title, .content-header-subtitle, .content-section-title{
    color: #f6ae2d;
  }
}

#page-udine{
  .content-header-title, .content-header-subtitle, .content-section-title{
    color: #dc9596;
  }
}

.content-section{
  padding-bottom: 30px;
}

.content-subsection{
  margin-top: 20px;
}

.content-subsection-title{
  .sans-serif();
  font-weight: bold;
  text-transform: uppercase;
}

.content-section-title{
  .sans-serif();
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content-image{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  img{
    width: 100%;
  }
}

.content-images{
  width: 100%;
  margin-bottom: 30px;
  img {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
  }
}

.footer{
  padding-top: 50px;
  padding-bottom: 50px;
  a {
    .sans-serif();
    color: #b6b6b6;
    &:hover{
      color: #333;
      text-decoration: none;
    }
  }
}

.footer-pages{
  margin-top: 20px;
  a {
    margin-right: 50px;
    &:hover{
      text-decoration: underline;
    }
  }
}

@media (min-width: @screen-md) {
  .footer-pages{
    margin-top: 0;
  }
}

.text-box {
  .sans-serif();
  background-color: #F2F2F2;
  padding: 20px;
  margin-bottom: 20px;
  .text-box-title{
    text-transform: uppercase;
  }
}