@import "../../node_modules/bootstrap/less/variables";
@import "../../node_modules/bootstrap/less/mixins";
@import "../../node_modules/bootstrap/less/mixins/clearfix";
@import "../../node_modules/bootstrap/less/normalize";
@import "../../node_modules/bootstrap/less/scaffolding";
@import "../../node_modules/bootstrap/less/grid";
@import "../../node_modules/bootstrap/less/buttons";
@import "../../node_modules/bootstrap/less/forms";

.clearfix {
  .clearfix()
}

.full-height{
  height: 100vh;
}

.container-fluid.no-padding {
  padding: 0;
}

.accordion-content {
  .full-height();
}

.accordion-title {
  color: #FFF;
  position: relative;
  z-index: 2000;
}

.accordion-items {
  position:absolute;
  right:0;
  top: 0;
  .full-height();
}

.accordion-item {
  width: 50px;
  position: absolute;
  .full-height();
}

.hidden {
  visibility: hidden;
}